@{
    ViewData["Title"] = "WebShop Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Go to products</a>
    <a href="@Url.Action("Index", "Category")" class="btn btn-primary btn-lg">Go to categories</a>

</div>
